@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --body-color: #0f0f0f;
    --secondary-body: #181823;
    --text-color: #dddddd;
    --border-color: #ff0a41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

html {
    background-color: transparent;
}

body {
    background-color: var(--body-color) !important;
}

a {
    text-decoration: none !important;
    color: #dddd !important;
}

ul {
    list-style: none;
}

main {
    min-height: 100vh;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .allques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 75%;
}

.allques .ques {
    border: 1px solid var(--border-color);
    border-radius: 7px;
    width: 75%;
    padding: 5%;
    font-size: 17px;
    margin: 10px auto;
}

.ques:hover input {
    -webkit-box-shadow: 0px 0px 41px 25px rgba(255,10,65,0.17); 
    box-shadow: 0px 0px 41px 25px rgba(255,10,65,0.17);
}

.ques  p {
    font-size: 17px;
}

.submission {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}

.submission input {
    padding: 10px 5px ;
    font-size: 17px;
    background-color: transparent;
    color: var(--border-color);
    border: 1px solid var(--border-color);
    width: 100%;
    transition: all 150ms;
}

.submission input:nth-child(2) {
    width: 40%;
    cursor: pointer;
}

.msgbox {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 10px;
    border-radius: 7px;
    border: 1px solid #ff0a41;
}

@media screen and (max-width: 600px) { 
    main .allques,
    .allques .ques  {
        width: 100%;
    }
}