:root {
    --body-color: #0f0f0f;
    --secondary-body: #181823;
    --text-color: #dddddd;
    --border-color: #ff0a41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

hr {
    width: 100% !important;
    border: 1px solid var(--border-color);
    border-top: none;
}

footer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

footer h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 2% auto;
    text-align: center;
}

.copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.copyrights .links {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    height: 150px;
    max-width: 300px;
}

.copyrights .links h6 {
    font-size: 16px;
    font-weight: 400;
    color: var(--border-color);
}

.copyrights .links a {
    font-size: 16px;
    font-weight: 400;
    color: #ddddddd2;
    position: relative;
    height: 100%;
    left: 20px;
    text-transform: lowercase;
    margin: 3px;
    transform: color 100ms;
}

.copyrights .links a:hover {
    color: var(--border-color) !important;
}

@media screen and (max-width: 600px) {

    footer {
        flex-direction: column;
        height: 80dvh;
    }

    footer h1 {
        margin: 10% auto;
    }

    .copyrights {
        flex-direction: column;
    }
}