:root {
    --body-color: #0f0f0f;
    --secondary-body: #181823;
    --text-color: #dddddd;
    --border-color: #ff0a41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

body {
    background-color: var(--body-color) !important;
}

a {
    text-decoration: none !important;
    color: #dddd !important;
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
    justify-content: space-evenly;
    padding: 20px 10px;
    background-color: var(--secondary-body);
    border-radius: 0 0 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: capitalize;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

header .logo a {
    font-size: 31px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 10px 20px 0;
}

nav ul li a {
    font-size: 20px;
}

.toggle {
    width: 50px;
    height: 50px;
}

.toggle .hamburger {
    width: 30px;
    height: 3px;
    background-color: #dddddd;
    margin: 10px auto;
}

.toggled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-body);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5%;
    width: 300px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 0px 200px #ff0a41;
}

.toggled ul {
    width: 100%;
}

.toggled ul li {
    margin: 10px 0;
    text-align: center;
}

.toggled ul li:hover {
    text-shadow: -5px -3px 50px rgba(255,10,65,1);
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--secondary-body);
    list-style: none;
    padding: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    z-index: 1000;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px 20px;
}

.dropdown li:hover {
    background-color: var(--border-color);
}

.dropdown li a {
    color: var(--text-color);
}

@media screen and (max-width: 600px) {

    #deskNav {
        display: none;
    }

    #showNav {
        display: flex;
    }

    #toggle {
        display: block !important;
    }

    header {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
    }
}
